*{
    margin: 80px;
}
body img{
    height: 250px;
width: auto;
display: flex;
justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    border: solid rgba(0, 0, 0, 0.555);
    height: 110vh;
    border-radius: 20px;
}
form input{
    height: 25px;
    width: auto;
    border-radius: 20px;
    outline: none;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
 a{
    margin: 0px 0px 0px 335px;
    height: 25px;
    width: 100px;    
    border-radius: 15px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    background-color: rgb(68, 68, 143);
    color: white;
    outline: none;
}