*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e7e7e7;
}

            /* NAV */



            
.flex-d-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 8px 0px 0px 0px; */
    border: solid darkgray;
    border-top: none;
    height: 80px;
    background-color: white;
}
.flex-sty{
    display: flex;
    align-items: center;
}
.flex-sty .nav-imgs{
    width: 30px;
    height: 30px;
}
.flex-sty .nav-imgs:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
    transform: scale(1.3);
    transition: 1s;
}

.nav-icon img{
    padding: 0px 10px 0px;
}
.pesq-div #pesq {
    padding: 0px 0px 0px 120px;
    margin: 0px 0px 0px 15px;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.384);
}
.flex-sty .pesq-div .pust:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
    transform: scale(1.3);
    transition: 1s; 
}
                /* NAV */

                /*MAIN*/

  main{
      padding: 40px 0px 0px;
      display: flex;
      justify-content: space-evenly;
  }
  .flex-colum{
      display: flex;
      flex-direction: column;
  }
  
   /* publicação 1 */
  .mar-flex{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 614px auto;
    height: 70px auto; 
    border: solid rgba(39, 37, 37, 0.425) 0.1px; 
  } 
  .mar-flex .profile{
      display: flex;
      align-items: center;
      height: 75px
  }     
.profile img{
    width: 50px;
    margin: 10px;
    border-radius: 25px;
}
.mar-flex h2{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.public{
    background-image: url(../img/public.jpg);
    background-size: cover;
    height: 75vh;
    width: 76vh;
}
.icons-foots{
    height: auto;
    width: 690px;    
    background-color: rgb(255, 255, 255);
    border:rgba(0, 0, 0, 0.151) solid;
}
.nav-icons2 img {
    height: 35px;
    margin: 10px 0px 0px 12px;
}
.nav-icons2 img:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
    transform: scale(1.3);
    transition: 1s;
}
.likes-marg p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
}
  /* Stores desktop */
.stores-bor{
    border: solid 1px rgba(0, 0, 0, 0.13);
    width: 293px;
    height: 320px;
    display: flex;
    flex-direction: column;
}
.stores-bor .history{
    display: flex;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(0, 0, 0, 0.308);
    margin: 10px 0px 10px 0px;
}
.stores-bor .one-storie{
    height: 15px;
    margin: 15px 0px 0px 10px;
    display: flex;  
}
.stores-bor .one-storie img{
    height: 50px;
    border-radius: 25px;
}
.profile-name{
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.profile-descrition{
    margin: 35px 0px 0px -65px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.445);
}
#profile-descrition2{
 margin: 35px 0px 0px -105px;
 font-size: 15px;
}
#profile-descrition3{
    margin: 35px 0px 0px -150px;
}
.stores-bor .two-storie{

    height: 15px;
    margin: 50px 0px 0px 10px;
    display: flex;
}
.stores-bor .two-storie img {
    height: 50px;
    border-radius: 25px;
}
.none-store{
    display: none;
}
    
    


@media (max-width:800px){
    .none-store{
        display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid darkgray;
    border-top: none;
    height: 80px;
    background-color: rgb(241, 241, 241);

    }

    
    .none-store ul{
        list-style: none;
        padding: 0px 0px 0px;

    }
    .none-store ul li img{
        height: 50px;
        width: 50px;
        border-radius: 25px;
    }
    .pesq-div{
        display: none;
    }
    .none{
        display: inline; 
        font-size: 24px;
    }

}
@media (max-width:611px){

    .public{
        background-size: cover;
        height: 60vh;
    width: 60vh;

    }
 

}

@media (max-width:487px){

    .public{
        background-size: cover;
        height: 50vh;
    width: 50vh;

    }
 

}

@media (max-width:376px){

    .public{
        background-size: cover;
        height: 50vh;
    width: 40vh;

    }
 

}